<div >
    <table style="width: 95%;">
        <tr style="text-align: center;font-size: large;font-weight: bold">
            <td>
                {{rightString}}
            </td>
            <td>
             {{middleString}}   
            </td>
            <td>
                {{leftString}}
            </td>
        </tr>
        <tr style="height: 1rem;">
            <td></td>
            <td></td> 
            <td></td> 
        </tr>
        <tr style="text-align: left;font-size: large;font-weight: bold;">
            <td></td>
            <td colspan="2" style=" text-align: left;padding-right: 10rem;">
                <div style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              ">
                {{stamptring}}
                <div style="
                  width: 100px;
                  height: 100px;
                  border: 2px solid black;
                  border-radius: 50%;
                  background-color: transparent;
                "></div>
              </div>
            </td>
        </tr>
    </table>
</div>