:host {
    display: block;
    height: 100%;
}

.chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0.5rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: flex; // Use flex to handle title and scroll area vertically
    flex-direction: column;
}

h5 {
    /* Optional: ensure title doesn't take too much space or formatted consistently */
    margin-bottom: 0.5rem;
    padding: .5rem 1rem 1rem 0rem;
}

.chart-scroll {
    overflow-x: auto;
    flex: 1; // Take remaining height
    /* ensure the inner chart can expand horizontally when many labels exist */
    -webkit-overflow-scrolling: touch;

    /* Override inline canvas styles from Chart.js */
    ::ng-deep canvas {
        width: var(--canvas-width) !important;
        height: var(--canvas-height) !important;
    }
}